*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #fd6e0a;
}
.btn-primary{
    color: #ffffff;
    font-weight: 700;
    border: 0px;
    padding: 18px 35px;
    font-size: 17px;
    height: 64px;
    border-radius: 5px;
    background: #fd6e0a;
}
.header{
    background: #fff8f3;
    background-image: url('../image/header_bg.png'), url('../image/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    }
/* Header and navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px ;
}
.nav-title{
    font-style: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
/* Banner styles */
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    margin: 0px 100px; 
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-title{
    font-weight: 700;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 20px;

}
.banner-sub-title{
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* Main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 120px;
    
}
/* About section styles */
.about{
    
    background: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}
.section-title{
    text-align: center;
    font-weight: 700px;
    font-size: 35px;
    margin-bottom: 50px;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 10px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 10px;
    color: #474747;
}
/* What i do styles */

.skils-container{
    display: flex;
    gap: 24px;
}
.skill{
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;

}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}
/* Resume styles */
 .resume-content{
    display: flex;
    gap: 24px;
    border: 0px;
    padding: 18px 35px;
 }
 .resume-item{
    margin-top: 30px;
    margin-bottom: 20px;
    
 }
 .resume .title{
      font-weight: 700;
      font-size: 17px;
      color: #474747;
      margin-bottom: 10px;
 }
 .resume .sub-title{
      color: #757575;
      font-weight: 600;
      font-size: 15px;
      margin-bottom: 7px;
 }
 .resume .description{
      color: #757575;   
 } 
 .resume-button{
    margin-top: 50px;
    text-align: center;
 }
/* Contact styles*/
.contact{
    display: flex;
    gap: 100px ;
    background: #fff8f3;
    padding: 100px 150px;
}
.contact .section-title{
    text-align: left;
}
.contact input[type="text"], input[type="Email"], textarea{
    margin-bottom: 8px;
    border: 0px;
    width: 100%;
    padding: 18px 30px;
}
.contact a{
    text-decoration: none;
}
